.guide {
    max-width: 800px;
}

.guide h1 {
    font-size: 2.8rem;
}

.guide h2 {
    font-size: 2.25rem;
}

.guide h3 {
    font-size: 1.8rem;
}

.guide h4 {
    font-size: 1.4rem;
}

.guide h5 {
    font-size: 1.1rem;
}

.guide h6 {
    font-size: 0.9rem;
}

.guide p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.guide a {
    color: var(--soft-accent);
}

.guide a:hover {
    text-decoration: underline;
}

.guide :is(ul, ol) {
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

.guide ul {
    list-style: disc;
}

.guide ol {
    list-style: decimal;
}

.guide blockquote {
    background: #f5f5f5;
    border-left: 0.5rem solid #ccc;
    margin: 1rem 0;
    padding: 0.5rem;
    quotes: "\201C""\201D""\2018""\2019";
}

.guide blockquote p {
    margin: 0.25rem;
}

.guide > code {
    font-size: 0.85rem;
    background: #eee;
    padding: 0.25rem 0.35rem;
    border-radius: 4px;
}

.guide pre {
    margin: 1rem 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.guide pre code {
    padding: 0.75rem 1rem;

    border-radius: 4px;

    width: 100%;
}
