@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;

    --accent: #2dceff;
    --soft-accent: #00b6ee;
    --discord: #7289da;
    --light: #fcfcfc;
    --dark: #111111;
    --text: #162933;

    --sans: "Source Sans Pro", sans-serif;

    overflow-x: hidden;

    overscroll-behavior: none;
}

body {
    color: var(--text);

    height: 100%;
}

.app {
    min-height: 100vh;
}

.sans {
    font-family: var(--sans);
}

.cocomat-title {
    text-transform: uppercase;
    font-family: "Cocomat";
}

.sidebar {
    height: calc(100vh - 64px);

    position: fixed;

    transform: translateX(-100%);

    transition: 0.2s transform ease;
}

.nav-open {
    transform: translateX(0);
}

.hamburger > div {
    height: 0.125rem;
}

a.link {
    color: var(--soft-accent);
}

a.link:hover {
    text-decoration: underline;
}

@media (min-width: 660px) {
    .sidebar {
        position: static;

        transform: translateX(0);
    }
}
