@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;

    --accent: #2dceff;
    --soft-accent: #00b6ee;
    --discord: #7289da;
    --light: #fcfcfc;
    --dark: #111111;
    --lighter-dark: #23272a;
    --darker-light: #dddddd;
    --text: #162933;

    --sans: "Source Sans Pro", sans-serif;

    overflow-x: hidden;

    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}

body {
    color: var(--text);

    height: 100%;
}

.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.sans {
    font-family: var(--sans);
}

.cocomat-title {
    text-transform: uppercase;
    font-family: "Cocomat";
}

.sidebar {
    height: calc(100vh - 64px);

    position: fixed;

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: 0.2s -webkit-transform ease;
    transition: 0.2s -webkit-transform ease;
    -o-transition: 0.2s transform ease;
    transition: 0.2s transform ease;
    transition: 0.2s transform ease, 0.2s -webkit-transform ease;
}

.guide-container {
    max-height: calc(100vh - 64px);

    overflow: scroll;
}

.nav-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.hamburger > div {
    height: 0.125rem;
}

a.link {
    color: var(--soft-accent);
}

a.link:hover {
    text-decoration: underline;
}

.not-found {
    height: calc(100vh - 64px);
}

.app > div.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.footer > div {
    width: 384px;
}

@media (min-width: 660px) {
    .sidebar {
        position: static;

        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .footer > div {
        width: 450px;
    }
}

@media (min-width: 1024px) {
    .footer > div {
        width: 500px;
    }
}
